.gallery_image {
    border: 1px solid #ccc;
    padding: 4px 4px 0px 4px;
    margin-bottom: 20px;
}

.gallery_image img {
    max-width: 100%;
    max-height: 100%;
}

.gallery_image .rating {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.image_detail_view {
    margin-bottom: 30px;
}

.image_detail_view > div {
    margin-bottom: 10px;
}

.image_detail_view .image {
    overflow-x: auto;
}

.image_detail_view .author {
    width: 50%;
    float: right;
    text-align: right;
}

.image_detail_view .rating {
    width: 50%;
    float: left;
    text-align: left;
}

.image_detail_view .description {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 4px;
}


.image_comment_container {
    border: 2px solid #ccc;
    border-bottom: 0px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.image_comment {
    border-bottom: 2px solid #ccc;
    width: 100%;
}

.image_comment .comment_text {
    padding: 4px;
}


.image_comment .comment_date,
.image_comment .user_info,
.image_comment .rating,
.image_comment .comment_text {
    padding: 4px 8px;
    vertical-align: top;
}

.image_comment .comment_date,
.image_comment .user_info,
.image_comment .rating {
    background: #f0f0f0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.image_comment .comment_date {
    width: 140px;
}

.image_comment .user_info {
    min-width: 400px;
}

.image_comment .rating {
    width: 90px;
}
.image_comment .comment_text {
    padding: 4px 8px;
}


.image-comment-form {
    max-width: 400px;
}



